body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column; /* Added */
}

.header {
  background-color: blue;
  padding: 80px;
  text-align: center;
}

.header .title {
  color: white;
  font-size: 48px;
}

.menu {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.menu ul li {
  display: inline;
  margin-right: 10px;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.menu ul li a:hover {
  background-color: gray;
}

#donateBtn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  font-size: 24px;
  margin-bottom: 20px; /* Added */
}

.back-link {
  text-align: left; /* Added */
  margin-left: 20px; /* Added */
}

.main-content {
  margin: 0 100px; /* Adjust the margin values as desired */
}
